:root {
    --bg1: #020711;
    --bg2: #111727;
    --bg3: #202938;
    --border: #252a36;
    --text: #ffffff;
    --hover: #2463eb;
}

body {
    background: var(--bg1);
    /*color: #ffffff; */
    font-family: JetBrainsMono;
    margin: 0;
}

* {
    font-family: inherit;
}

#buttons {
    margin-top: 20px;
    padding: 16px 12px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--bg2);

    border-radius: 8px;
    border: 2px solid var(--border);
}

.button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;

    color: var(--text);
    background-color: var(--bg3);

    border-radius: 32px;
    border: 2px solid var(--border);

    cursor: pointer;
    appearance: none;
    pointer-events: auto;

    transition:
        background-color 0.15s ease,
}

.button:hover {
    background-color: var(--hover);
}





#topbar {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: var(--bg2);
    color: var(--text);
}

.active-branch {
    display: flex;
    align-items: center;
    gap: 15px;
}

.branch-selection {
    background: var(--bg3);
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid var(--border);
    font-size: 13px;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 5px;
}