body {
    background: #020711;
    /*color: #ffffff; */
    font-family: JetBrainsMono; /* Note: No underscore, added fallback */
    margin: 20px;
}

* {
    font-family: inherit;
}

#menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    padding: 16px 12px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #111727;

    border-radius: 8px;
    border: 2px solid #252a36;
}

.button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 500;

    color: #ffffff;
    background-color: #202938;

    border-radius: 32px;
    border: 2px solid #2f3847;

    cursor: pointer;
    appearance: none;
    pointer-events: auto;

    transition:
        background-color 0.15s ease,
}

.button:hover {
    background-color: #2463eb;
}
